<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whiteboard.mapper.StudentMapper">

    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO students (name, classroom_id) VALUES (#{name}, #{classroomId})
    </insert>
</mapper>
